{{!-- <CharacterList></CharacterList> --}}
{{!-- <Input @type="text" @value={{this.searchItem}} @model={{this.searchItem}} placeholder="search"/> 
<button type="submit" {{on 'click' this.model}}>click</button> --}}
<div class="container d-flex flex-col ov ">
    <div class="row justify-content-evenly m-0">
        {{#each this.model as |character|}}
        <LinkTo class="text-dec d-flex-inline  col-2  character-container justify-content-center m-3 p-0"
            @route='each-character.each' @model={{character.id}}>
            <div class="img-container p-3 ">
                <img src={{character.imgsrc}} alt="{{character.name}}" >
                <h6>{{capitalize character.name}}</h6>
                
            </div>
        </LinkTo>
        {{/each}}

    </div>
</div>